body{
    padding-left: 10px;
}

.chat{
    background-color: antiquewhite;
    border-radius: 12px;
    display:inline-block;
}
.msg{
    background-color:aqua;
    border-radius: 12px;
    padding-left: 10px;
    border: 2px solid black;
}